* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  background-color: rgb(209, 179, 179);
}

nav {
  width: 250px;
  background-color: #333;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

nav header {
  color: #5290ee;
  font-size: 24px;
  margin-bottom: 20px;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  display: block;
  margin: 10px 0;
  padding: 5px 0;
}

.nav-link:hover {
  color: #e98c8c;
}

main {
  margin-left: 270px;
  padding: 20px;
}

header {
  font-size: 22px;
  margin-bottom: 10px;
  color: rgb(90, 8, 196);
}

p {
  margin-bottom: 10px;
}

code {
  background-color: #f4f4f4;
  padding: 5px;
  display: block;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  nav {
      width: 100%;
      position: static;
  }

  main {
      margin-left: 0;
  }
}
